<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de Films</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <section class="dark">
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        
                        <input type="text" name="titre_recherche" id="titre_recherche" class="border-button mt-2 search-input" placeholder="Entrez Titre du film que vous voulez rechercher">
                        <a href="#" class="filled-button">Rechercher</a>
                    </li>
                </ul>
            </div>
        </nav>
            <!-- Banner Starts Here -->
            <div class="main-banner header-text" id="top">
                <div class="Modern-Slider owl-carousel">
                    <!-- Item 1 -->
                    <div class="item item-1">
                        <div class="img-fill">
                            <img src="{{ url_for('static', filename='image/b1.jpg') }}"alt="">
                            <div class="text-content">
                                <h4>Ma Videotheque </h4>
                                <p>Explorer notre vaste collection de films avec notre vidéothèque en ligne. Trouver des classiques intemporels, des dernières sorties et bien plus encore.</p>
                                <a href="#film-section" class="filled-button">Voir mes films</a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="item item-2">
                        <div class="img-fill">
                            <img src="{{ url_for('static', filename='image/b2.jpg') }}"alt="">
                            <div class="text-content">
                                <h4>Ma Videotheque </h4>
                                <p>Explorer notre vaste collection de films avec notre vidéothèque en ligne. Trouver des classiques intemporels, des dernières sorties et bien plus encore.</p>
                                <a href="#film-section" class="filled-button">Voir mes films</a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item item-3">
                        <div class="img-fill">
                            <img src="{{ url_for('static', filename='image/b3.jpg') }}"alt="">
                            <div class="text-content">
                                <h4>Ma Videotheque</h4>
                                <p>Explorer notre vaste collection de films avec notre vidéothèque en ligne. Trouver des classiques intemporels, des dernières sorties et bien plus encore.</p>
                                <a href="#film-section" class="filled-button">Voir mes films</a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- // Items -->
                </div>
            </div> 
    </section>        
        
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        
            <script>
                $(document).ready(function(){
                    $(".Modern-Slider").owlCarousel({
                        items: 1,
                        loop: true,
                        autoplay: true,
                        autoplayTimeout: 3000, // 3 seconds
                        autoplayHoverPause: true
                    });
                });
            </script>
    
<section class="dark">
    <div class="request-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4> Avez-vous du nouveau ?</h4>
                    <span class="d-flex flex-column">
                        Vous pouvez ajouter un nouveau film si vous voulez..</span>
                        <a href="{{url_for('ajout_films')}}" class="border-button mt-2">Ajouter un film</a>
                </div> 
            </div>
        </div>
    </div> 
</section>

<section class="film-section" id="film-section">  
    <div class="container py-4 film-list" align-items:center>
            <!--<h1 class="h1 text-center">Liste de Films</h1>-->
            {% for Films in videotheques %}
            <article class="film-item">
               <a class="postcard__img_link" href="#">
                <img src="{{ url_for('static', filename='image/Video-Library.png') }}" alt="{{Films.titre}}" />
               </a>
               <div class="postcard__text">
                    <h1 class="postcard__tittle blue"><a href="#">{{Films.id}} - {{Films.titre}}</a></h1>
                    <div class="postcard__realisateur">
                        <div class="realisateur-label"><i class="fas fa-users mr-2"></i>Réalisateur</div>
                        <div class="realisateur-value">{{ Films.realisateur }}</div>
                    </div>
                    <div class="postcard__subtile small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>Année de sortie {{Films.annee_sortie}}
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview">
                        <div class="preview-label"><i class="fas fa-info-circle mr-2"></i>Résumé</div>
                        <div class="preview-value">{{ Films.synopsis }}</div>
                    </div>
                    <div class="film-details-container">
                    <div class="postcard__duration">
                        <div class="duration-label"><i class="fas fa-clock mr-2"></i>Durée</div>
                        <div class="duration-value">{{ Films.duree }}</div>
                    </div>
                    <div class="postcard__actors">
                        <div class="actors-label"><i class="fas fa-users mr-2"></i>Acteurs</div>
                        <div class="actors-value">{{ Films.acteurs }}</div>
                    </div>
                    <div class="postcard__genre">
                        <div class="genre-label"><i class="fas fa-film mr-2"></i>Genre</div>
                        <div class="genre-value">{{ Films.genre }}</div>
                    </div>
                    <div class="button-space"></div>
                    </div>
                    <ul class="button-group">
                            <form method="post" action="{{ url_for('delete_film', film_id=Films.id) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce film ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="tag__item play blue">
                                    <a class="filled-button">Supprimer</a>
                                </button> 
                            </form> 
                            <!--<a href="{{ url_for('delete_film', film_id=Films.id) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film ?');" class="tag__item play blue">
                                <div class="filled-button">Supprimer</div>
                            </a> -->
                            <li class="tag__item play blue">
                               <!--  <a href="{{ url_for('update_films', film_id=Films.id) }}" class="filled-button">Modifier</a> -->
                                <a href="{{ url_for('update_films', film_id=Films.id) }}" class="filled-button">Modifier</a>
                            </li>
                    </ul>
                    
               </div>
            </article>
    {% endfor %}
    </div>
</section>

<div class="scroll-to-top">
    <a href="#top" class="scroll-link" title="Remonter en haut de la page">
        <i class="fas fa-arrow-up" style="font-size: 24px;"></i>
    </a>
</div>

<script>

    function toggleScrollToTop() {
        var scrollButton = document.querySelector('.scroll-to-top');
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollButton.style.display = 'block';
        } else {
            scrollButton.style.display = 'none';
        }
    }

    window.onscroll = function() {
        toggleScrollToTop();
    };
    document.querySelector('.scroll-link').addEventListener('click', function() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>

</body>
</html>
