<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de Film</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_new.css') }}"> 

</head>
<body>
    <section>
        <form id="contact" method="post" action="{{ url_for('update_films', film_id=film_details['id']) }}" onsubmit="disableButton()">
            <h1>Modifiez les données de votre Film</h1>
            <div class="inputbox">
                <ion-icon name="videocam-outline"></ion-icon>
                <input name="id" type="number" value="{{ film_details['id'] }}" readonly>
                <label for="id">Numéro du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="film-outline"></ion-icon>
                <input name="titre" type="text" value="{{ film_details['titre'] }}" required>
                <label for="titre">Titre du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input name="realisateur" type="text" value="{{ film_details['realisateur'] }}" required>
                <label for="realisateur">Réalisateur du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="calendar-outline"></ion-icon>
                <input name="annee_sortie" type="text" value="{{ film_details['annee_sortie'] }}" required>
                <label for="annee_sortie">Année de sortie du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="time-outline"></ion-icon>
                <input name="duree" type="text" value="{{ film_details['duree'] }}" required>
                <label for="duree">Duree du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="pricetag-outline"></ion-icon>
                <input name="genre" type="text" value="{{ film_details['genre'] }}" required>
                <label for="genre">Genre du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="people-outline"></ion-icon>
                <input name="acteurs" type="text" value="{{ film_details['acteurs'] }}" required>
                <label for="acteurs">Acteurs du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="image-outline"></ion-icon>
                <input name="image" type="text" value="{{ film_details['image'] }}" required>
                <label for="image">Image du film</label>
            </div>
            <div class="inputbox">
                <ion-icon name="reader-outline"></ion-icon>
                <input name="synopsis" rows="5" id="synopsis" value="{{ film_details['synopsis'] }}" required>
                <label for="synopsis">Synopsis ou Résumé du film</label>
            </div>
            <button type="submit" id="form-submit">Modifier le Film <ion-icon name="send-outline"></ion-icon></button>
            <div class="register">
                <p>Vous annuler la modification ? <a href="{{ url_for('index')}}">Accueil</a></p>
            </div>
        </form>
    </section>
    <script>
        function disableButton() {
            document.getElementById("form-submit").disabled = true;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
